* {
box-sizing: border-box;
max-width: 100vw;
max-height: 100vh;
font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
color: rgb(0, 0, 0);
background-color: rgb(122, 122, 209);
display: grid;
place-items: center;
}

.container {
display: grid;
width: 100%;
max-width: 800px;
gap: .5rem;
grid-template-columns: repeat (3, 1fr);
grid-template-rows: 12rem 4rem 24rem 8rem;
grid-template-areas: 
"header header header "
"nav nav nav"
"main main aside"
"footer footer footer";
}

header {
grid-area: header;
}

nav {
grid-area: nav;
}

main {
grid-area: main;
}

aside {
grid-area: aside;
}

footer {
grid-area: footer;
}

header, nav, main, aside, footer {
    display: grid; 
    place-items: center; 
    text-align: center; 
    background-color: aliceblue;

}

@media screen and (max-width:600px) {
    .container {
    display: grid;
    margin: 0 auto auto auto;
    padding: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 5rem 8rem 15rem 20rem 5rem;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "aside"
    "footer"
    }
}